@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,700&display=swap");

@import url(style.css);
:root {
  /* COLORS */

  /* Greys */
  --grey-10: #1a1a1a;
  --grey-15: #262626;
  --grey-20: #333333;
  --grey-30: #4c4c4d;
  --grey-90: #e6e6e6;
  --grey-60: #98989a;
  --white: #ffffff;
  --black: #000000;

  /* Brand greens */
  --green-50: #9eff00;
  --green-60: #b1ff33;
  --green-70: #c5ff66;
  --green-80: #d8ff99;
  --green-99: #fdfffa;

  /* semantic colors */
  --c-bg-primary: var(--grey-10);
  --c-text-chip: var(--grey-15);
  --c-pg-heading: var(--green-80);
  --c-pg-white: var(--white);
  --c-tx-60: var(--grey-60);
  --c-pg-grey: var(--grey-90);
  --c-primary-btn: var(--green-50);
  --c-secondary-btn: var(--grey-15);
  --c-border: var(--grey-15);
  --c-accordion-open: var(--green-70);

  /* TYPOGRAPHY */
  /* font family and weight */
  --font-primary: "Barlow", sans-serif;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-black: 900;

  /* font sizes and line height (fs-text-20 = 20px...) */
  --fs-heading-1: clamp(2.125rem, 1.8rem + 1.333vw, 3rem);
  --fs-heading-2: clamp(1.75rem, 1.518rem + 0.952vw, 2.375rem);
  --fs-heading-3: clamp(1.5rem, 1.361rem + 0.571vw, 1.875rem);
  --fs-heading-4: clamp(1.25rem, 1.157rem + 0.381vw, 1.5rem);
  --fs-text-20: clamp(1.125rem, 1.079rem + 0.19vw, 1.25rem);
  --fs-text-18: clamp(1rem, 0.954rem + 0.19vw, 1.125rem);
  --fs-text-16: clamp(0.875rem, 0.829rem + 0.19vw, 1rem);
  --fs-text-14: 0.875rem;

  --lh-tight: 1.1;
  --lh-snug: 1.3;
  --lh-normal: 1.5;

  /* Spacing (4px base grid) */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
  --space-12: 3rem;
  --space-16: 4rem;
  --space-24: 6rem;
  --space-32: 8rem;
  --space-48: 12rem;
  --space-64: 16rem;
  --space-96: 24rem;

  /* Layout */
  --container-max: 1280px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 15px;

  /* Grid border tokens */
  --border-gap: var(--space-4);
  --border-thickness: 1px;
  --border-color: var(--grey-15);
  --line-offset: calc((var(--border-gap)) / 2);
}

/* BODY */
body {
  font-family: var(--font-primary);
  font-weight: var(--fw-regular);
  line-height: var(--lh-normal);
  background-color: var(--c-bg-primary);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 100;
  top: 0;
  background-color: var(--c-bg-primary);
  padding-block: var(--space-4);
}

.desktop-links {
  display: none;
}

.mobile-menu {
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  display: flex !important;
  flex-direction: column;
  visibility: hidden;
  background: var(--c-bg-primary);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
}

.mobile-menu.open {
  transform: translateY(0);
  visibility: visible;
}

.mobile-menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-start: var(--space-4);
}

.close-btn {
  font-size: 2.5rem;
  color: var(--green-70);
}

.mobile-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.mobile-menu ul li {
  border-bottom: 1px dashed var(--green-70);
}

.mobile-menu ul li a {
  display: block;
  padding: 18px 24px;
}

.contact {
  display: none;
}

/* HERO SECTION */
.hero-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* HERO SECTION */
.hero-des-desk {
  display: none;
}

.hero-des-mob {
  display: flex;
  margin-block: 1.875rem 2.5rem;
}

.hero {
  background: url("../assets/images/Hero-Section-sm.svg");
}

.hero-box {
  padding-block: clamp(7rem, 7.769rem + -3.077vw, 5rem);
}

.hero-btns {
  display: flex;
  gap: 13px;
}

.trusted-badge {
  color: var(--green-99);
  text-align: center;
  padding: 0.5em 0.8em;
  border-radius: 50px;
  border: 0.5px solid var(--grey-15);
  background-color: var(--grey-10);
  margin-block-start: -20px;
  width: fit-content;
  margin-inline: auto;
}

.trusted-badge span {
  border-radius: 999px;
}

.logos-ds {
  display: none;
}

.logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: var(--space-8);
  margin: 1rem auto;
  position: relative;
  border-left: 0.5px solid var(--grey-15);
  border-right: 0.5px solid var(--grey-15);
  /* background-color: #2424242f; */
  padding-block: 1rem;
}

.logos::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background: var(--grey-15);
  transform: translateX(-50%);
}

/* SERVICES SECTION */
.services-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--space-2);
  flex-direction: column;
  background: url("../assets/images/services-banner-sm.png") no-repeat;
  background-size: cover;
  padding-block: clamp(3.125rem, 1.923rem + 4.808vw, 6.25rem);
}

.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: var(--space-8);
  padding-block-start: var(--space-4);
}

.service {
  border-bottom: 1px solid var(--grey-15);
  padding-block-end: var(--space-8);
}

.service:last-child {
  border-bottom: none;
}

.service-heading {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

.service p {
  margin-block: var(--space-8);
  line-height: var(--lh-normal);
  letter-spacing: -0.6%;
  font-weight: var(--fw-regular);
}

/* WHY US SECTION */
.why-us-banner {
  background: url("../assets/images/why-us-banner-sm.png") no-repeat;
  padding-block: clamp(3.125rem, 1.923rem + 4.808vw, 6.25rem);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--space-2);
  flex-direction: column;
}

.why-us-banner p {
  max-inline-size: 779px;
}

.why-us-item {
  border-bottom: 1px solid var(--grey-15);
  padding-block: var(--space-8);
}

.why-us-item:last-child {
  border-bottom: none;
}

.why-us-item__head {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

.why-us-item p {
  margin-block-start: var(--space-8);
  line-height: var(--lh-normal);
  letter-spacing: 0.6%;
  font-weight: var(--fw-regular);
}

/* Testimonial section */
.testimonial-banner {
  background: url("../assets/images/testimonial-banner-sm.png") no-repeat;
  background-size: cover;
  padding-block: clamp(3.125rem, 1.923rem + 4.808vw, 6.25rem);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--space-2);
  flex-direction: column;
}

.testimonial-banner h2 {
  max-inline-size: clamp(20.375rem, 9.462rem + 43.654vw, 48.75rem);
}

.testimonial-banner p {
  max-inline-size: clamp(20.375rem, 9.462rem + 43.654vw, 48.75rem);
  line-height: var(--lh-normal);
  letter-spacing: 0.6%;
}

.testimonial > p:nth-of-type(2) {
  margin-block: 1.25rem clamp(1.5rem, 1.356rem + 0.577vw, 1.875rem);
}

.testimonial {
  padding-block: 1rem;
  border-bottom: 1px solid var(--grey-15);
}

.testimonial:last-child {
  border-bottom: none;
}

.testimonial-link {
  display: none;
}

.profile-head img {
  width: clamp(2.5rem, 2.26rem + 0.962vw, 3.125rem);
}

.profile-head {
  display: flex;
  align-items: center;

  gap: var(--space-2);
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.testimonial-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* faq section */
.faq-banner {
  background: url("../assets/images/faq-banner-sm.png") no-repeat;
  background-size: cover;
  padding-block: clamp(3.125rem, 1.923rem + 4.808vw, 6.25rem);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--space-2);
  flex-direction: column;
}

.faq-number img {
  width: clamp(2.5rem, 2.26rem + 0.962vw, 3.125rem);
}

.faq-number {
  position: relative;
  width: fit-content;
}

.faq {
  margin-block: var(--space-4);
}

.faq-number h4 {
  position: absolute;
  top: 19%;
  left: 25%;
}

details > summary {
  list-style: none; /* Removes marker for most browsers */
}

details > summary::marker, /* For modern browsers */
details > summary::-webkit-details-marker {
  /* For WebKit-based browsers */
  display: none;
}

.faq-box {
  display: flex;
  align-items: flex-start;
  gap: var(--space-3);
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

details[open] .question {
  color: var(--c-accordion-open);
}

details[open] .faq-number h4 {
  color: var(--green-50);
}

details {
  width: 100%;
}

.icon::before {
  content: "+";
  font-size: 2rem;
  color: var(--white);
  line-height: 1;
}

details[open] .icon::before {
  content: "x";
  font-size: 1.5rem;
  color: var(--green-70);
  line-height: 1;
}

.question {
  flex: 1;
}

.hidden-faq {
  display: none;
}

.faq-box {
  padding-block: var(--space-4);
  border-bottom: 1px solid var(--grey-15);
}

.faq-box:nth-child(4) {
  border-bottom: none;
}

.answer {
  padding: 1rem;
}

/* MEDIA QUERY */
@media (width > 1000px) {
  .bod-border {
    border-left: 1px solid var(--grey-15);
    border-right: 1px solid var(--grey-15);
  }

  .container-ds {
    max-width: 1180px;
    margin: 0 auto;
  }
  /* layout */
  .container {
    padding-inline: unset;
  }

  /* navbar */
  .hamburger {
    display: none;
  }

  .mobile-menu {
    display: none !important;
  }

  .desktop-links {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
  }

  .desktop-links li a {
    text-decoration: none;
  }

  .desktop-links li a:hover {
    background-color: var(--c-text-chip);
    padding: 0.35em 0.8em;
    display: inline-block;
    width: fit-content;
    border-radius: var(--radius-sm);
  }

  .contact {
    display: flex;
  }

  /* hero */
  .hero-des-desk {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-block: 1.875rem 2.5rem;
  }

  .hero-des-mob {
    display: none;
  }

  .text-chip-ds {
    background-color: var(--c-text-chip);
    padding: 0.35em 0.8em;
    display: inline-block;
    width: fit-content;
    border-radius: var(--radius-sm);
    border: 0.5px solid var(--grey-15);
  }

  .hero {
    background: url("../assets/images/Hero-Section-lg.svg");
  }

  /* company logo */
  .logos-ds {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--space-8);
    margin: var(--space-8) auto;
    background-color: #2424242f;
    padding: 1rem;
  }
  .logos {
    display: none;
  }

  /* SERVICES SECTION */
  .services-banner {
    background: url("../assets/images/services-banner-lg.png") no-repeat;
    background-size: cover;
  }

  .services {
    flex-direction: row;
    align-items: stretch;
  }

  .service {
    flex: 1 1 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    padding-inline: 40px;
  }

  .service p {
    padding-bottom: 3.75rem;
  }

  .service-heading {
    flex-direction: column;
    align-items: unset;
  }

  .service-link {
    margin-top: auto; /* pins button to bottom */
  }

  .service {
    border-left: 1px solid var(--grey-15);
  }

  .service:first-child {
    border-left: none;
  }

  .service {
    border-bottom: none;
    padding-block-end: none;
  }

  .service-padding {
    height: var(--space-8);
  }

  /* WHY US SECTION */
  .why-us-banner {
    background: url("../assets/images/why-us-banner-lg.png") no-repeat;
  }

  .why-us-item {
    border-bottom: none;
  }

  .why-us-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--border-gap);
    align-items: stretch;
    overflow: hidden;
  }

  .why-us-box > .why-us-item {
    position: relative;
    padding: var(--space-8);
  }

  .why-us-box > .why-us-item::before,
  .why-us-box > .why-us-item::after {
    content: "";
    background-color: var(--border-color);
    position: absolute;
  }

  .why-us-box > .why-us-item::after {
    width: 100vw;
    height: var(--border-thickness);
    top: calc(var(--line-offset) * -1);
    left: 0;
  }

  .why-us-box > .why-us-item::before {
    width: var(--border-thickness);
    height: 100vh;
    top: 0;
    left: calc(var(--line-offset) * -1);
  }

  /* Testimonial section */
  .testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--border-gap);
    overflow: hidden;
  }

  .testimonials > .testimonial::before,
  .testimonials > .testimonial::after {
    content: "";
    background-color: var(--border-color);
    position: absolute;
  }

  .testimonials > .testimonial::after {
    width: 100vw;
    height: var(--border-thickness);
    top: calc(var(--line-offset) * -1);
    left: 0;
  }

  .testimonials > .testimonial::before {
    width: var(--border-thickness);
    height: 100vh;
    top: 0;
    left: calc(var(--line-offset) * -1);
  }

  .testimonials > .testimonial {
    position: relative;
    padding: var(--space-8);
  }

  .testimonial-banner {
    background: url("../assets/images/testimonial-banner-lg.png") no-repeat;
    background-size: cover;
  }

  .testimonial-link {
    display: flex;
  }

  .testimonial-profile {
    margin-top: auto;
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }

  /* FAQ SECTION */
  .faq-banner {
    background: url("../assets/images/faq-banner-lg.png") no-repeat;
    background-size: cover;
  }

  .faqs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--border-gap);
    align-items: start;
    grid-auto-rows: min-content;
    overflow: hidden;
  }

  summary {
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  .faqs > .faq-box::before,
  .faqs > .faq-box::after {
    content: "";
    background-color: var(--border-color);
    position: absolute;
  }

  .faqs > .faq-box::after {
    content: "";
    background-color: var(--border-color);
    position: absolute;
  }

  .faqs > .faq-box::before {
    content: "";
    background-color: var(--border-color);
    position: absolute;
  }

  .faqs > .faq-box::after {
    width: 100vw;
    height: var(--border-thickness);
    top: calc(var(--line-offset) * -1);
    left: 0;
  }

  .faqs > .faq-box::before {
    width: var(--border-thickness);
    height: 100vh;
    top: 0;
    left: calc(var(--line-offset) * -1);
  }

  .faqs > .faq-box {
    position: relative;
    padding: var(--space-4);
  }

  .faq-box {
    align-self: start;
  }

  .faq-box {
    border-bottom: none;
  }

  .hidden-faq {
    display: block;
  }
}
