@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,700&display=swap");

@import url("./components/global.css");
@import url("./components/footer-navbar.css");
@import url("./components/contact-form.css");
@import url("./components/faq.css");

/* HERO SECTION */
.hero-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* HERO SECTION */
.hero-des-desk {
  display: none;
}

.hero-des-mob {
  display: flex;
  margin-block: 1.875rem 2.5rem;
}

.hero {
  background: url("../assets/images/Hero-Section-sm.svg");
}

.hero-box {
  padding-block: clamp(7rem, 7.769rem + -3.077vw, 5rem);
}

.hero-btns {
  display: flex;
  gap: 13px;
}

.trusted-badge {
  color: var(--green-99);
  text-align: center;
  padding: 0.5em 0.8em;
  border-radius: 50px;
  border: 0.5px solid var(--grey-15);
  background-color: var(--grey-10);
  margin-block-start: -20px;
  width: fit-content;
  margin-inline: auto;
}

.trusted-badge span {
  border-radius: 999px;
}

.logos-ds {
  display: none;
}

.logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: var(--space-8);
  margin: 1rem auto;
  position: relative;
  border-left: 0.5px solid var(--grey-15);
  border-right: 0.5px solid var(--grey-15);
  /* background-color: #2424242f; */
  padding-block: 1rem;
}

.logos::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background: var(--grey-15);
  transform: translateX(-50%);
}

/* SERVICES SECTION */
.services-banner {
  background: url("../assets/images/services-banner-sm.png") no-repeat;
}

.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: var(--space-8);
  padding-block-start: var(--space-4);
}

.service {
  border-bottom: 1px solid var(--grey-15);
  padding-block-end: var(--space-8);
}

.service:last-child {
  border-bottom: none;
}

.service-heading {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

.service p {
  margin-block: var(--space-8);
  line-height: var(--lh-normal);
  letter-spacing: -0.6%;
  font-weight: var(--fw-regular);
}

/* WHY US SECTION */
.why-us-banner {
  background: url("../assets/images/why-us-banner-sm.png") no-repeat;
}

.why-us-banner p {
  max-inline-size: 779px;
}

.why-us-item {
  border-bottom: 1px solid var(--grey-15);
  padding-block: var(--space-8);
}

.why-us-item:last-child {
  border-bottom: none;
}

.why-us-item__head {
  display: flex;
  align-items: center;
  gap: var(--space-4);
}

.why-us-item p {
  margin-block-start: var(--space-8);
  line-height: var(--lh-normal);
  letter-spacing: 0.6%;
  font-weight: var(--fw-regular);
}

/* Testimonial section */
.testimonial-banner {
  background: url("../assets/images/testimonial-banner-sm.png") no-repeat;
}

.testimonial-banner h2 {
  max-inline-size: clamp(20.375rem, 9.462rem + 43.654vw, 48.75rem);
}

.testimonial-banner p {
  max-inline-size: clamp(20.375rem, 9.462rem + 43.654vw, 48.75rem);
  line-height: var(--lh-normal);
  letter-spacing: 0.6%;
}

.testimonial > p:nth-of-type(2) {
  margin-block: 1.25rem clamp(1.5rem, 1.356rem + 0.577vw, 1.875rem);
}

.testimonial {
  padding-block: 1rem;
  border-bottom: 1px solid var(--grey-15);
}

.testimonial:last-child {
  border-bottom: none;
}

.testimonial-link {
  display: none;
}

.profile-head img {
  width: clamp(2.5rem, 2.26rem + 0.962vw, 3.125rem);
}

.profile-head {
  display: flex;
  align-items: center;

  gap: var(--space-2);
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.testimonial-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* cta section */
.cta-banner {
  background: url("../assets/images/cta-banner-sm.png") no-repeat;
}

.cta-banner img {
  width: clamp(3.125rem, 2.885rem + 0.962vw, 3.75rem);
  margin-block: clamp(3.125rem, 1.923rem + 4.808vw, 6.25rem)
    clamp(1.75rem, 1.462rem + 1.154vw, 2.5rem);
}

.cta-banner p {
  max-inline-size: clamp(20.375rem, 9.462rem + 43.654vw, 48.75rem);
  margin-block-start: clamp(0.375rem, 0.279rem + 0.385vw, 0.625rem);
  letter-spacing: 0.6%;
  font-weight: var(--fw-regular);
}

.cta-banner a {
  margin-block: clamp(1.75rem, 1.462rem + 1.154vw, 2.5rem)
    clamp(3.125rem, 1.923rem + 4.808vw, 6.25rem);

  font-weight: var(--fw-medium);
  color: var(--grey-10);
  line-height: var(--lh-normal);
}

/* MEDIA QUERY */
@media (width > 1000px) {
  /* hero */
  .hero-des-desk {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-block: 1.875rem 2.5rem;
  }

  .hero-des-mob {
    display: none;
  }

  .text-chip-ds {
    background-color: var(--c-text-chip);
    padding: 0.35em 0.8em;
    display: inline-block;
    width: fit-content;
    border-radius: var(--radius-sm);
    border: 0.5px solid var(--grey-15);
  }

  .hero {
    background: url("../assets/images/Hero-Section-lg.svg");
  }

  /* company logo */
  .logos-ds {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--space-8);
    margin: var(--space-8) auto;
    background-color: #2424242f;
    padding: 1rem;
  }
  .logos {
    display: none;
  }

  /* SERVICES SECTION */
  .services-banner {
    background: url("../assets/images/services-banner-lg.png") no-repeat;
    background-size: cover;
  }

  .services {
    flex-direction: row;
    align-items: stretch;
  }

  .service {
    flex: 1 1 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    padding-inline: 40px;
  }

  .service p {
    padding-bottom: 3.75rem;
  }

  .service-heading {
    flex-direction: column;
    align-items: unset;
  }

  .service-link {
    margin-top: auto; /* pins button to bottom */
  }

  .service {
    border-left: 1px solid var(--grey-15);
  }

  .service:first-child {
    border-left: none;
  }

  .service {
    border-bottom: none;
    padding-block-end: none;
  }

  .service-padding {
    height: var(--space-8);
  }

  /* WHY US SECTION */
  .why-us-banner {
    background: url("../assets/images/why-us-banner-lg.png") no-repeat;
  }

  .why-us-item {
    border-bottom: none;
  }

  .why-us-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--border-gap);
    align-items: stretch;
    overflow: hidden;
  }

  .why-us-box > .why-us-item {
    position: relative;
    padding: var(--space-8);
  }

  .why-us-box > .why-us-item::before,
  .why-us-box > .why-us-item::after {
    content: "";
    background-color: var(--border-color);
    position: absolute;
  }

  .why-us-box > .why-us-item::after {
    width: 100vw;
    height: var(--border-thickness);
    top: calc(var(--line-offset) * -1);
    left: 0;
  }

  .why-us-box > .why-us-item::before {
    width: var(--border-thickness);
    height: 100vh;
    top: 0;
    left: calc(var(--line-offset) * -1);
  }

  /* Testimonial section */
  .testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--border-gap);
    overflow: hidden;
  }

  .testimonials > .testimonial::before,
  .testimonials > .testimonial::after {
    content: "";
    background-color: var(--border-color);
    position: absolute;
  }

  .testimonials > .testimonial::after {
    width: 100vw;
    height: var(--border-thickness);
    top: calc(var(--line-offset) * -1);
    left: 0;
  }

  .testimonials > .testimonial::before {
    width: var(--border-thickness);
    height: 100vh;
    top: 0;
    left: calc(var(--line-offset) * -1);
  }

  .testimonials > .testimonial {
    position: relative;
    padding: var(--space-8);
  }

  .testimonial-banner {
    background: url("../assets/images/testimonial-banner-lg.png") no-repeat;
  }

  .testimonial-link {
    display: flex;
  }

  .testimonial-profile {
    margin-top: auto;
  }

  .testimonial {
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }

  /* cta section */
  .cta-banner {
    background: url("../assets/images/cta-banner-lg.png") no-repeat;
  }
}
