@import url(main.css);
/* RESETS */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #8888883f;
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-track {
  background: transparent;
}

body {
  font-family: var(--font-primary);
  font-weight: var(--fw-regular);
  line-height: var(--lh-normal);
  background-color: var(--c-bg-primary);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

/* LAYOUT */
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding-inline: 1rem;
  background-color: #2424242f;
}

@media (width < 1000px) {
  .content-border {
    border-left: 1px solid var(--grey-15);
    border-right: 1px solid var(--grey-15);
    padding-inline: 0.5rem;
  }
}

.in-pad {
  padding-inline: var(--space-4);
}

/* TYPOGRAPHY */
h1 {
  font-size: var(--fs-heading-1);
  font-weight: var(--fw-semibold);
  color: var(--c-pg-white);
  text-align: center;
  line-height: var(--lh-tight);
  max-inline-size: 500px;
}
h2 {
  font-size: var(--fs-heading-2);
  font-weight: var(--fw-semibold);
  color: var(--c-pg-white);
}
h3 {
  font-size: var(--fs-heading-3);
  font-weight: var(--fw-semibold);
  color: var(--c-pg-white);
}
h4 {
  font-size: var(--fs-heading-4);
  font-weight: var(--fw-semibold);
  color: var(--c-pg-white);
}
p {
  line-height: var(--lh-normal);
  font-weight: var(--fw-medium);
}
a {
  font-size: var(--fs-text-14);
}

.pg-20 {
  font-size: var(--fs-text-20);
}

.pg-18 {
  font-size: var(--fs-text-18);
}

.pg-16 {
  font-size: var(--fs-text-16);
}

.pg-14 {
  font-size: var(--fs-text-14);
}
.pg-white {
  color: var(--c-pg-white);
}

.pg-grey {
  color: var(--c-pg-grey);
}

.c-tx-60 {
  color: var(--c-tx-60);
}

.pg-heading {
  color: var(--c-pg-heading);
}

.accodion-open {
  color: var(--c-accordion-open);
}

/* UTILITIES */
.bt {
  border-top: 1px solid var(--grey-15);
}
.bb {
  border-bottom: 1px solid var(--grey-15);
}
.bl {
  border-left: 1px solid var(--grey-15);
}
.br {
  border-right: 1px solid var(--grey-15);
}

@media (width > 1000px) {
  .bt-ds {
    border-top: 1px solid var(--grey-15);
  }
  .bb-ds {
    border-bottom: 1px solid var(--grey-15);
  }
  .bl-ds {
    border-left: 1px solid var(--grey-15);
  }
  .br-ds {
    border-right: 1px solid var(--grey-15);
  }
}

.icon {
  width: 50px;
}

/* COMPONENTS */

.hamburger {
  background-color: var(--c-text-chip);
  border-radius: var(--radius-md);
  width: 46px;
  height: 46px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
a {
  outline: none;
  border: none;
  border-radius: var(--radius-sm);
  background: none;
  display: inline-block;
}

.primary-btn {
  background-color: var(--c-primary-btn);
  line-height: var(--lh-normal);
  padding: 0.35em 0.8em;
  width: fit-content;
  color: var(--grey-15);
}

.secondary-btn {
  background-color: var(--c-secondary-btn);
  line-height: var(--lh-normal);
  padding: 0.6em 0.8em;
  width: 100%;
  text-align: center;
}

.text-block {
  background-color: #2626266f;
  backdrop-filter: blur(20px);
  padding: 0.35em 0.8em;
  display: inline-block;
  width: fit-content;
  border-radius: var(--radius-sm);
  text-align: center;
  border: 0.5px solid var(--grey-15);
}

.text-block-2 {
  background-color: #2626266f;
  backdrop-filter: blur(20px);
  padding: 0.35em 0.8em;
  display: inline-block;
  width: 100%;
  border-radius: var(--radius-sm);
  text-align: center;
  border: 0.5px solid var(--grey-15);
}

.text-chip {
  background-color: var(--c-text-chip);
  padding: 0.35em 0.8em;
  display: inline-block;
  width: fit-content;
  border-radius: var(--radius-sm);
  border: 0.5px solid var(--grey-15);
}

.glow-btn {
  background-color: #26262636;
  line-height: var(--lh-normal);
  padding: 0.35em 0.8em;
  width: fit-content;
  backdrop-filter: blur(20px);
  border: 0.5px solid var(--grey-15);
}
