@import url("./global.css");

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-4);
  max-width: 600px;
  margin: auto;
  padding-block: var(--space-8);
  border-bottom: 1px solid var(--grey-15);
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  width: 100%;
}

fieldset {
  border: none;
  background-color: var(--grey-19);
  padding: var(--space-4);
  border-radius: var(--radius-sm);
  border: 1px solid var(--grey-60-01);
}

input[type="text"],
input[type="email"],
textarea {
  background: none;
  border: none;
  border-bottom: 1.5px solid var(--grey-20);
  width: 100%;
  padding-bottom: var(--space-1);
  resize: none;
  overflow-y: auto;
  max-height: 100px;

  color: var(--green-80);
  font-family: inherit;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
textarea::placeholder {
  color: var(--grey-40);
}

label[for="name"],
label[for="email"],
label[for="message"] {
  font-size: var(--fs-text-18);
  color: var(--white);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: none;
  outline: none;
  border-bottom: 1.5px solid var(--green-50);
}

.name-x-email {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

.contact-form button[type="submit"] {
  width: 100%;
}

.check-box {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  padding-block: var(--space-3);
}

.check-box label {
  display: flex;
  gap: var(--space-2);
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid var(--grey-60-01);
  background: var(--grey-20);
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.25s ease;
  vertical-align: middle;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid var(--green-50);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

input[type="checkbox"]:checked {
  background-color: var(--grey-19);
  width: 20px;
  height: 20px;
}

input[type="checkbox"]:hover {
  border: 0.5px solid var(--green-50);
  background-color: var(--grey-15);
}

.check-boxes {
  margin-block-start: var(--space-4);
}

.check-box label {
  color: var(--green-99);
  font-size: var(--fs-text-16);
}

.range-txt {
  font-size: var(--fs-text-16);
  color: var(--grey-90);
  line-height: var(--lh-normal);
  letter-spacing: 0.6%;
  margin-block: var(--space-1) var(--space-12);
}

.range-slider {
  position: relative;
  width: 100%;
  height: 3px;
  margin: 30px 0;
  background-color: var(--grey-20);
  border-radius: 500px;
}

.slider-track {
  height: 100%;
  position: absolute;
  background-color: var(--green-50);
}

.range-slider input {
  position: absolute;
  width: 100%;
  background: none;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: var(--green-50);
  border: 2px solid var(--grey-30);
  pointer-events: auto;
  appearance: none;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.5625rem -0.125rem rgba(0, 0, 0, 0.25);
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: var(--green-50);
  border: 2px solid var(--grey-30);
  pointer-events: auto;
  -moz-appearance: none;
  cursor: pointer;
  box-shadow: 0 0.125rem 0.5625rem -0.125rem rgba(0, 0, 0, 0.25);
}

.tooltip {
  padding: 0.5rem 0.5rem;
  border: 0;
  color: var(--white);
  border-radius: var(--radius-sm);
  font-size: var(--fs-text-14);
  line-height: var(--lh-snug);
  display: block;
  position: absolute;
  text-align: center;
  white-space: nowrap;
}

.min-tooltip {
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  z-index: 5;
}

.max-tooltip {
  right: 50%;
  transform: translateX(-50%) translateY(-100%);
}

/* MEDIA QUERY */
@media (width > 1000px) {
  form {
    border: 1px solid var(--grey-15);
    border-bottom: none;
  }

  .form-box {
    width: unset;
  }

  .name-x-email {
    flex-direction: row;
  }

  .contact-form button[type="submit"] {
    width: unset;
  }

  .check-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: var(--space-8);
    row-gap: var(--space-4);
  }

  .check-box {
    padding-block: unset;
  }
}
