@import url("./global.css");

.faq-banner {
  background: url("../../assets/images/faq-banner-sm.png") no-repeat;
  background-size: cover;
  padding-block: clamp(3.125rem, 1.923rem + 4.808vw, 6.25rem);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: var(--space-2);
  flex-direction: column;
}

.faq-number img {
  width: clamp(2.5rem, 2.26rem + 0.962vw, 3.125rem);
}

.faq-number {
  position: relative;
  width: fit-content;
}

.faq {
  margin-block: var(--space-4);
}

.faq-number h4 {
  position: absolute;
  top: 19%;
  left: 25%;
}

details > summary {
  list-style: none; /* Removes marker for most browsers */
}

details > summary::marker, /* For modern browsers */
details > summary::-webkit-details-marker {
  /* For WebKit-based browsers */
  display: none;
}

.faq-box {
  display: flex;
  align-items: flex-start;
  gap: var(--space-3);
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

details[open] .question {
  color: var(--c-accordion-open);
}

details[open] .faq-number h4 {
  color: var(--green-50);
}

details {
  width: 100%;
}

.icon::before {
  content: "+";
  font-size: 2rem;
  color: var(--white);
  line-height: 1;
}

details[open] .icon::before {
  content: "x";
  font-size: 1.5rem;
  color: var(--green-70);
  line-height: 1;
}

.question {
  flex: 1;
}

.hidden-faq {
  display: none;
}

.faq-box {
  padding-block: var(--space-4);
  border-bottom: 1px solid var(--grey-15);
}

.faq-box:nth-child(4) {
  border-bottom: none;
}

.answer {
  padding: 1rem;
}

@media (width > 1000px) {
  .faq-banner {
    background: url("../../assets/images/faq-banner-lg.png") no-repeat;
    background-size: cover;
  }

  .faqs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--border-gap);
    align-items: start;
    grid-auto-rows: min-content;
    overflow: hidden;
  }

  summary {
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
  }

  .faqs > .faq-box::before,
  .faqs > .faq-box::after {
    content: "";
    background-color: var(--border-color);
    position: absolute;
  }

  .faqs > .faq-box::after {
    content: "";
    background-color: var(--border-color);
    position: absolute;
  }

  .faqs > .faq-box::before {
    content: "";
    background-color: var(--border-color);
    position: absolute;
  }

  .faqs > .faq-box::after {
    width: 100vw;
    height: var(--border-thickness);
    top: calc(var(--line-offset) * -1);
    left: 0;
  }

  .faqs > .faq-box::before {
    width: var(--border-thickness);
    height: 100vh;
    top: 0;
    left: calc(var(--line-offset) * -1);
  }

  .faqs > .faq-box {
    position: relative;
    padding: var(--space-4);
  }

  .faq-box {
    align-self: start;
  }

  .faq-box {
    border-bottom: none;
  }

  .hidden-faq {
    display: block;
  }
}
