@import url("../components/global.css");
@import url("../components/footer-navbar.css");
/* @import url("../components/secondary-cta.css"); */

.about-banner {
  background: url("../../assets/images/services-banner-sm.png") no-repeat;
  background-size: cover;
}

@media (width > 1000px) {
  .about-banner {
    background: url("../../assets/images/services-banner-lg.png") no-repeat;
    background-size: cover;
  }
}
