@import url("../components/global.css");
@import url("../components/footer-navbar.css");
@import url("../components/cta.css");

.hero-banner {
  background: url("../../assets/images/faq-banner-sm.png") no-repeat;
  background-size: cover;
}

@media (width > 1000px) {
  .hero-banner {
    background: url("../../assets/images/faq-banner-lg.png");
    background-size: cover;
  }
}
